.alert{
    padding: 3px 0px;
    background-color: rgb(255, 41, 41);
    color: white;
    font-size: .85rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert .close-icon{
    font-size: 1.3rem;
}