.app{
    width: 100%;
    margin: 0px auto;
}
.opening{
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100%;
}
@media  (max-width: 625px) {
    .opening{
        flex-wrap: wrap;
    }
    .worldtable .table{
        height: 350px;
    }
}