@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #707070;
    letter-spacing: 1px;
}
body{
    /* background-color: rgb(223, 223, 223); */
    /* background-image: linear-gradient(to right, rgb(197, 255, 197), rgb(238, 255, 238)); */
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    background-image: none;
}

@media  (max-width: 1266px) {
    .app{
        width: 100%;
    }
}